@*@page
@using Newtonsoft.Json
@model CarsModel

@{
    ViewData["Title"] = "Cars";
}

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var car in Model.Cars)
        {

            Dictionary<string, string> dictCars =
            new Dictionary<string, string> { { "passedObject", JsonConvert.SerializeObject(car) } };

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => car.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Model)
                </td>
                <td>
                    <a asp-page="./CarDetails" asp-all-route-data="dictCars">CarDetails</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@