@page
@model Checkers.Pages.GameModel
@{
}

<style>
    .checkersboard {
        display: flex;
        flex-wrap: wrap;
    }

        .checkersboard div {
            width: 10.0%;
            padding-bottom: 10.0%;
            box-sizing: border-box;
        }

        .checkersboard .black {
            background-color: black;
        }

        .checkersboard .white {
            background-color: white;
        }

    }
</style>


@*Loop over Fields of Board instead of standard for loop*@
<div class="checkersboard">
    @for (int y = 0; y < 10; y++)
    {
        @for (int x = 0; x < 10; x++)
        {
            <div class="@((y+x) % 2 == 0 ? "white" : "black")"></div>
            // how to draw checkerpieces now????
            

        }
    }
</div>


