@page
@using Core.Enums;
@model Checkers.Pages.GameModel
@{
}

<style>
    .checkersboard {
        display: flex;
        flex-wrap: wrap;
    }

        .checkersboard div {
            width: 10.0%;
            padding-bottom: 10.0%;
            box-sizing: border-box;
        }

        .checkersboard .black {
            background-color: black;
        }

        .checkersboard .white {
			background-color: white;
        }

    }
</style>

<h1>@Model.Game!.BlackPlayer</h1>
<div class="checkersboard">
    @for (int y = 0; y < 10; y++)
    {
        for (int x = 0; x < 10; x++)
        {
            var squareColor = Model.Game.Board.Squares[y, x] == Color.White ? "white" : "black";
            <div class="@squareColor"></div>
            // how to draw checkerpieces now????
        }
    }
</div>
<h1>@Model.Game.WhitePlayer</h1>


