@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>Jean Houdt Van Damme!</h3>
        <form method="post" asp-page="/Game">
            <button type="submit">Start spel!</button>
        </form>
    <img class="block" src="~/images/jean_houdt_van_damme.png" alt="jean-image" />
</div>


@*<a asp-page="/Game">Game</a>*@