@page
@model Checkers.Pages.StatisticsModel
@{
}


<h2>1337 statistieken hier</h2>

<form method="get" asp-page="/Statistics">
    <button onclick="myFunction()">Laatste Speler</button>
</form>



<script>
    function myFunction() {
        alert("@(Model.Name) was de laatste speler");
    }
</script>

