@page
@model Checkers.Pages.StatisticsModel
@{
}


<h2>1337 statistieken hier</h2>

<script>function submitForm() { fetch('/Statistics', {  method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({}) }).then(x => x.text()).then(name => { alert(`The last player was ${name}`); }); }</script>

<button onclick="submitForm()">Click me</button>


@*<script>
    function myFunction() {
        alert("@(Model.Name) was the last player");
    }
</script>*@

@*<style>
    button {
        background-color: blue;
        color: white;
        font-size: 16px;
    }
</style>

<button onclick="myFunction()">Click me</button>

<script>
    function myFunction() {
        alert("Button was clicked!");
    }
</script>*@